.processesContainer {
    counter-reset: line;
}
.rootProcess {
    display:block !important;
    counter-increment: line;
    margin-left: 20px;
}
.rootProcess:before{
    content: counter(line);
    margin-right: 10px;
    margin-left: -16px;
}